<%- include('header') -%> 

    <div class="box" id="heading">    
        <h1><%= listTitle %></h1>
    </div>

    <div class="box">
        <% for(var i=0;i<morelihere.length;i++){ %>
        <form action="/delete" method="POST">
            <div class="item">
                <input type="checkbox" onChange="this.form.submit()" name="checkbox" value="<%= morelihere[i]._id %>">
                <p><%= morelihere[i].name %></p>
            </div>
            <input type="hidden" name="listName" value="<%= listTitle %>">
        </form>
        <% } %>   
            
        <form action="/" method="POST" class="item">
            <input type="text" name="addtask" placeholder="Add new item here" autocomplete="off" autofocus>
            <button type="submit" name="list" value="<%= listTitle %>">+</button>
        </form>
    </div>

<%- include('footer') -%> 